:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-text-color:#2196F3;
--white-text-color:#FFFFFF;
--blck-text-color: #000000;
--background-part:#2F303A;
--adrress: rgba(255, 255, 255, 0.6);
--backgraund-button:#F5F4FA;
}
body{
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03;
}
ul {
  list-style: none;
}

.link {
  text-decoration: none;
}
.logo{
  font-family: Raleway, sans-serif;
  color: var(--blck-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-part{
  color: var(--accent-text-color);
}

.nav .link{
  color:var(--title-text-color);
  font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav .link:hover, .nav .link:focus{
  color: var(--accent-text-color);
}
.contacts-list .link{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list .link:hover, .contacts-list .link:focus{
  color: var(--accent-text-color);
}
.hero{
  background-color: var(--background-part);
}
.hero .title{
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero .button {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  
}

.section-title{
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.featurs .title{
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14px;
}
.featurs .text{
  font-size: 14px;
  line-height: 1.71;
}
.team-list .title{
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-list .text{
  font-size: 16px;
  line-height: 1.18;
}
footer{
  background-color: var(--background-part);
}
.address .link-point, .address .contact{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address .link-point{
  color: var(--white-text-color);
}
.address .contact{
  color: var(--adrress);
}
/* Portfolio */
.filter .button{
  color: var(--title-text-color);
  background-color: var(--backgraund-button);
}
.filter .button:hover, .filter .button:focus{
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}
.list-filter .title{
color: var(--title-text-color);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.list-filter .text{
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
